@charset "UTF-8";
/* ordre d'importation des fichiers */
/*ici creer les variable avec ex: tableau de couleur
$colors: (
    Btn1     : #8490ff,
    Btn2     : #62bdfc,
    color3   : #fff,
    txt      : #777777,
    title    : #222222,
    link     : #8490ff,
    bannerBg1: #8490ff,
    bannerBg2: #62bdfc
);*/
/* 
RESET
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
	v2.0 | 20110126
	License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,300&display=swap");
/* line 9, ../sass/tools/_reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
/* line 29, ../sass/tools/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 33, ../sass/tools/_reset.scss */
body {
  line-height: 1; }

/* line 36, ../sass/tools/_reset.scss */
ol, ul {
  list-style: none; }

/* line 39, ../sass/tools/_reset.scss */
blockquote, q {
  quotes: none; }

/* line 42, ../sass/tools/_reset.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

/* line 47, ../sass/tools/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/*reference: https://getbootstrap.com/docs/4.0/layout/grid/ , les breakpoints seront certainement ├á adapter dans le futur*/
/* line 9, ../sass/tools/_grid.scss */
.row {
  display: flex;
  flex-wrap: wrap; }

/* line 14, ../sass/tools/_grid.scss */
.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%; }

/*on g├®n├¿re les col*/
/* line 22, ../sass/tools/_grid.scss */
.col-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%; }

/* line 22, ../sass/tools/_grid.scss */
.col-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%; }

/* line 22, ../sass/tools/_grid.scss */
.col-3 {
  flex: 0 0 25%;
  max-width: 25%; }

/* line 22, ../sass/tools/_grid.scss */
.col-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%; }

/* line 22, ../sass/tools/_grid.scss */
.col-5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%; }

/* line 22, ../sass/tools/_grid.scss */
.col-6 {
  flex: 0 0 50%;
  max-width: 50%; }

/* line 22, ../sass/tools/_grid.scss */
.col-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%; }

/* line 22, ../sass/tools/_grid.scss */
.col-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%; }

/* line 22, ../sass/tools/_grid.scss */
.col-9 {
  flex: 0 0 75%;
  max-width: 75%; }

/* line 22, ../sass/tools/_grid.scss */
.col-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%; }

/* line 22, ../sass/tools/_grid.scss */
.col-11 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%; }

/* line 22, ../sass/tools/_grid.scss */
.col-12 {
  flex: 0 0 100%;
  max-width: 100%; }

/*on boucle sur le tableau breakpoints en ajoutant le type d'├®cran au col et la taille au @media*/
@media screen and (min-width: 720px) {
  /* line 31, ../sass/tools/_grid.scss */
  .col-md {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%; }

  /* line 37, ../sass/tools/_grid.scss */
  .col-md-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }

  /* line 37, ../sass/tools/_grid.scss */
  .col-md-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }

  /* line 37, ../sass/tools/_grid.scss */
  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%; }

  /* line 37, ../sass/tools/_grid.scss */
  .col-md-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }

  /* line 37, ../sass/tools/_grid.scss */
  .col-md-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }

  /* line 37, ../sass/tools/_grid.scss */
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%; }

  /* line 37, ../sass/tools/_grid.scss */
  .col-md-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }

  /* line 37, ../sass/tools/_grid.scss */
  .col-md-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }

  /* line 37, ../sass/tools/_grid.scss */
  .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%; }

  /* line 37, ../sass/tools/_grid.scss */
  .col-md-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }

  /* line 37, ../sass/tools/_grid.scss */
  .col-md-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }

  /* line 37, ../sass/tools/_grid.scss */
  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%; } }
@media screen and (min-width: 960px) {
  /* line 31, ../sass/tools/_grid.scss */
  .col-lg {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%; }

  /* line 37, ../sass/tools/_grid.scss */
  .col-lg-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }

  /* line 37, ../sass/tools/_grid.scss */
  .col-lg-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }

  /* line 37, ../sass/tools/_grid.scss */
  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%; }

  /* line 37, ../sass/tools/_grid.scss */
  .col-lg-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }

  /* line 37, ../sass/tools/_grid.scss */
  .col-lg-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }

  /* line 37, ../sass/tools/_grid.scss */
  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%; }

  /* line 37, ../sass/tools/_grid.scss */
  .col-lg-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }

  /* line 37, ../sass/tools/_grid.scss */
  .col-lg-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }

  /* line 37, ../sass/tools/_grid.scss */
  .col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%; }

  /* line 37, ../sass/tools/_grid.scss */
  .col-lg-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }

  /* line 37, ../sass/tools/_grid.scss */
  .col-lg-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }

  /* line 37, ../sass/tools/_grid.scss */
  .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%; } }
/*ici touts les balises g├®n├®riques*/
/* line 2, ../sass/base/_base.scss */
html {
  font-family: "Poppins", sans-serif, "Arial", sans-serif; }

/* line 6, ../sass/base/_base.scss */
body {
  font-size: 14px; }

/* line 13, ../sass/base/_base.scss */
main {
  margin-top: 5rem; }

/* line 17, ../sass/base/_base.scss */
h1 {
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: bold;
  color: #222222;
  /*au cas ou le designer voudrait changer les couleurs*/ }

/* line 36, ../sass/base/_base.scss */
h4 {
  text-align: center;
  margin: 3rem 0 2rem;
  font-size: 1rem; }

/* line 41, ../sass/base/_base.scss */
p {
  color: #777777;
  margin: 3rem 1rem;
  font-size: .8rem;
  line-height: 1.5rem;
  letter-spacing: .1rem; }

/* line 48, ../sass/base/_base.scss */
a {
  text-decoration: none; }

/* line 51, ../sass/base/_base.scss */
img {
  width: 100%;
  height: auto; }

/* line 55, ../sass/base/_base.scss */
i {
  cursor: pointer;
  padding-right: .5rem;
  color: #fff; }

/* line 1, ../sass/layout/_layout.scss */
.pagination {
  text-align: center; }
/* line 3, ../sass/layout/_layout.scss */
.pagination li {
  display: inline-block;
  padding: .5rem;
  cursor: pointer; }
/* line 7, ../sass/layout/_layout.scss */
.pagination li:hover {
  background-color: blue;
  color: white; }

/* line 13, ../sass/layout/_layout.scss */
.wrap {
  max-width: 1140px;
  margin: 0 auto; }

/*
HEADER
*/
/* line 20, ../sass/layout/_layout.scss */
.logo-header {
  height: 5rem;
  width: 10rem;
  position: absolute;
  left: 1rem;
  top: 1rem; }

/* line 27, ../sass/layout/_layout.scss */
.logo-header-desktop {
  display: none; }

/*
MENU
*/
/* line 33, ../sass/layout/_layout.scss */
#menuPrincipale {
  position: fixed;
  top: 0; }

/* line 38, ../sass/layout/_layout.scss */
.l-main-menu.open {
  transform: translateX(0%);
  transition: transform 0.5s; }

/* line 44, ../sass/layout/_layout.scss */
.l-main-menu-content {
  width: 70vw;
  height: 100vh;
  background-color: #05071c; }

/* line 49, ../sass/layout/_layout.scss */
.l-main-menu {
  height: 100vh;
  background-color: rgba(5, 6, 26, 0.37);
  width: 100%;
  text-align: left;
  font-size: 1.2rem;
  display: flex;
  z-index: 500;
  transform: translateX(-100%);
  transition: transform 0.5s; }
/* line 59, ../sass/layout/_layout.scss */
.l-main-menu ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 2rem 0 0 2rem; }
/* line 66, ../sass/layout/_layout.scss */
.l-main-menu li {
  padding: 6px 0; }
/* line 70, ../sass/layout/_layout.scss */
.l-main-menu a {
  position: relative;
  list-style: none;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bolder;
  display: block;
  padding: .5rem 0;
  color: #fff;
  transition: 0.5s; }
/* line 81, ../sass/layout/_layout.scss */
.l-main-menu a::after {
  position: absolute;
  content: "";
  top: 85%;
  left: 0;
  width: 1.5rem;
  height: 3px;
  background: #fff;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s; }
/* line 94, ../sass/layout/_layout.scss */
.l-main-menu a:hover {
  color: #8490ff; }
/* line 98, ../sass/layout/_layout.scss */
.l-main-menu a:hover::after {
  transform: scaleX(1);
  transform-origin: left; }

@media only screen and (min-width: 720px) {
  /* line 108, ../sass/layout/_layout.scss */
  #menuPrincipale {
    position: relative;
    right: 2rem; }

  /* line 112, ../sass/layout/_layout.scss */
  .l-main-menu, .l-main-menu-content {
    height: 5rem;
    background: #fff;
    width: 1140px; }

  /* line 117, ../sass/layout/_layout.scss */
  .l-main-menu {
    max-width: calc(100vw - 4rem);
    padding: 0 2rem;
    transform: translateX(0%); }
  /* line 122, ../sass/layout/_layout.scss */
  .l-main-menu a {
    color: #222222; }
  /* line 124, ../sass/layout/_layout.scss */
  .l-main-menu a::after {
    background: #222222; }
  /* line 128, ../sass/layout/_layout.scss */
  .l-main-menu ul {
    flex-direction: row;
    justify-content: flex-end;
    margin-left: 0; }
  /* line 133, ../sass/layout/_layout.scss */
  .l-main-menu li {
    padding-left: 1rem; }

  /* line 137, ../sass/layout/_layout.scss */
  .l-main-menu-content {
    position: relative; }

  /* line 141, ../sass/layout/_layout.scss */
  .logo-header {
    display: none; }

  /* line 144, ../sass/layout/_layout.scss */
  .logo-header-desktop {
    padding-left: 1rem;
    height: 5rem;
    width: 10rem;
    position: absolute;
    top: 2rem;
    z-index: 999;
    display: inline-block; }

  /* line 153, ../sass/layout/_layout.scss */
  .nav-hamburger {
    display: none; } }
@media only screen and (min-width: 960px) {
  /* line 161, ../sass/layout/_layout.scss */
  .l-main-menu li {
    padding-left: 2rem; } }
/*
HAMBURGER
*/
/* line 170, ../sass/layout/_layout.scss */
.nav-hamburger {
  --color: black;
  width: 36px;
  height: 36px;
  position: fixed;
  right: 1rem;
  top: 1rem;
  z-index: 501;
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  -webkit-appearence: none;
  -webkit-tap-highlight-color: transparent; }
/* line 185, ../sass/layout/_layout.scss */
.nav-hamburger svg {
  width: 64px;
  height: 48px;
  top: -6px;
  left: -14px;
  stroke: var(--color);
  stroke-width: 4px;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  display: block;
  position: absolute; }
/* line 197, ../sass/layout/_layout.scss */
.nav-hamburger svg path {
  transition: stroke-dasharray var(--duration, 0.85s) var(--easing, ease) var(--delay, 0s), stroke-dashoffset var(--duration, 0.85s) var(--easing, ease) var(--delay, 0s);
  stroke-dasharray: var(--array-1, 26px) var(--array-2, 100px);
  stroke-dashoffset: var(--offset, 126px);
  transform: translateZ(0); }
/* line 202, ../sass/layout/_layout.scss */
.nav-hamburger svg path:nth-child(2) {
  --duration: .7s;
  --easing: ease-in;
  --offset: 100px;
  --array-2: 74px; }
/* line 208, ../sass/layout/_layout.scss */
.nav-hamburger svg path:nth-child(3) {
  --offset: 133px;
  --array-2: 107px; }
/* line 216, ../sass/layout/_layout.scss */
.nav-hamburger.active svg path {
  --offset: 57px; }
/* line 218, ../sass/layout/_layout.scss */
.nav-hamburger.active svg path:nth-child(1), .nav-hamburger.active svg path:nth-child(3) {
  --delay: .15s;
  --easing: cubic-bezier(0.2, 0.4, 0.2, 1.1); }
/* line 223, ../sass/layout/_layout.scss */
.nav-hamburger.active svg path:nth-child(2) {
  --duration: .4s;
  --offset: 2px;
  --array-1: 1px; }
/* line 228, ../sass/layout/_layout.scss */
.nav-hamburger.active svg path:nth-child(3) {
  --offset: 58px; }

/*
FOOTER
*/
/* line 239, ../sass/layout/_layout.scss */
footer {
  padding-bottom: 1rem;
  background-color: #05071c; }
/* line 242, ../sass/layout/_layout.scss */
footer strong {
  color: #8490ff; }
/* line 245, ../sass/layout/_layout.scss */
footer p {
  margin-top: 1rem;
  margin-bottom: 1rem; }
/* line 249, ../sass/layout/_layout.scss */
footer a {
  color: #8490ff; }

/* line 254, ../sass/layout/_layout.scss */
.footer-title {
  color: #fff;
  font-size: 1rem;
  margin: 2rem 0 0 1rem;
  text-transform: capitalize; }

/* line 261, ../sass/layout/_layout.scss */
.p-copyright {
  margin-top: 1rem; }

/* line 266, ../sass/layout/_layout.scss */
.mail-picker {
  width: calc(100% - 2rem);
  margin: 0 1rem; }
/* line 269, ../sass/layout/_layout.scss */
.mail-picker input {
  width: calc(80% - 1rem);
  height: 2rem; }
/* line 273, ../sass/layout/_layout.scss */
.mail-picker button {
  display: inline-block;
  background: #8490ff;
  color: #fff;
  width: calc(20% - 1rem);
  height: 2.2rem;
  cursor: pointer; }

/* line 283, ../sass/layout/_layout.scss */
.social-footer {
  font-size: 1rem;
  margin: 1rem; }

@media only screen and (min-width: 720px) {
  /* line 290, ../sass/layout/_layout.scss */
  footer {
    padding: 2rem 0 3rem; }

  /* line 293, ../sass/layout/_layout.scss */
  .social-footer {
    margin: .5rem; } }
/*TITLES*/
/* line 2, ../sass/pages/_home.scss */
.hello, .title-main, .title-1 {
  text-transform: uppercase;
  font-weight: bolder;
  color: #222222;
  /*au cas ou le designer voudrait changer les couleurs*/ }

/* line 8, ../sass/pages/_home.scss */
.hello {
  margin: 3rem 0 2rem 1rem;
  font-size: 1.2rem; }

/* line 13, ../sass/pages/_home.scss */
.title-main {
  margin: 0rem 0 1rem 1rem;
  font-size: 2rem; }

/* line 18, ../sass/pages/_home.scss */
.title-1 {
  margin: 0rem 0 1rem 1rem;
  font-size: 1.4rem; }

/* line 23, ../sass/pages/_home.scss */
.title-2 {
  margin: 8rem 0 2rem;
  font-size: 2rem;
  line-height: 2rem;
  text-transform: capitalize;
  font-weight: bolder;
  color: #222222;
  /*au cas ou le designer voudrait changer les couleurs*/
  text-align: center;
  padding: 0 3rem; }

/*TEXT*/
/* line 35, ../sass/pages/_home.scss */
.p-style {
  text-align: center; }

/*BUTTONS*/
/* line 39, ../sass/pages/_home.scss */
.btn-1 {
  background: linear-gradient(to right, #8490ff, #62bdfc);
  color: #fff;
  text-transform: uppercase;
  padding: .8rem 2rem;
  font-size: 1rem;
  text-decoration: none;
  margin-left: 1rem; }

/*IMAGES*/
/* line 51, ../sass/pages/_home.scss */
.img-box {
  padding: 5rem;
  width: calc(100% - 10rem);
  margin-bottom: 5rem; }

/* line 56, ../sass/pages/_home.scss */
.service {
  text-align: center; }

/* line 59, ../sass/pages/_home.scss */
.lnr {
  font-size: 3rem; }

/*BANIERE*/
/* line 63, ../sass/pages/_home.scss */
.sec-ban-counter {
  margin-top: 5rem;
  padding: 5rem 0;
  background: linear-gradient(to right, #8490ff, #62bdfc); }

/* line 69, ../sass/pages/_home.scss */
.counter-number, .counter-item {
  color: #fff;
  text-align: center; }

/* line 74, ../sass/pages/_home.scss */
.counter-number {
  font-size: 2.5rem; }

/* line 77, ../sass/pages/_home.scss */
.counter-item {
  font-size: .8rem;
  margin-top: -2.5rem;
  font-weight: lighter; }

/*GALLERIE*/
/* line 85, ../sass/pages/_home.scss */
.project {
  padding: 1rem; }
/* line 87, ../sass/pages/_home.scss */
.project .p-style {
  margin-top: -2rem; }

/*BLOG*/
/* line 94, ../sass/pages/_home.scss */
.sec-blog .img-box {
  padding: 0 1rem;
  width: calc(100% - 2rem);
  margin: 2rem 0 1rem; }

/* line 101, ../sass/pages/_home.scss */
.blogger {
  margin-left: 1rem;
  display: inline-block;
  width: calc(50% - 1rem); }
/* line 105, ../sass/pages/_home.scss */
.blogger .name {
  color: #222222;
  font-size: .8rem; }
/* line 109, ../sass/pages/_home.scss */
.blogger img {
  width: 1.5rem;
  display: inline-block; }
/* line 113, ../sass/pages/_home.scss */
.blogger p {
  display: inline-block;
  margin: 0 0 1rem 1rem; }

/* line 120, ../sass/pages/_home.scss */
.info {
  text-align: right;
  color: #777777;
  display: inline-block;
  width: calc(50% - 1rem); }
/* line 125, ../sass/pages/_home.scss */
.info .lnr {
  font-size: 1rem; }

/* line 130, ../sass/pages/_home.scss */
.counter-article {
  margin-left: .5rem;
  display: inline-block; }

/* line 135, ../sass/pages/_home.scss */
.title-article {
  text-transform: uppercase;
  font-size: 1.5rem;
  text-align: left;
  margin: 0 1rem; }

/*BANIERE-LABEL*/
/* line 143, ../sass/pages/_home.scss */
.sec-ban-logo {
  margin-top: 5rem;
  padding: 5rem 0;
  background: linear-gradient(to right, #8490ff, #62bdfc); }
/* line 147, ../sass/pages/_home.scss */
.sec-ban-logo img {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%; }

/* line 154, ../sass/pages/_home.scss */
.label {
  display: none; }

@media only screen and (min-width: 720px) {
  /*on rend les elements cach├®s visibles on passe en flex pour les aligner horizontalement. 
  on donne une taille de 15% afin de leur laisser de place pour les marges*/
  /* line 161, ../sass/pages/_home.scss */
  .label {
    display: inline-block; }

  /* line 164, ../sass/pages/_home.scss */
  .sec-ban-logo-content {
    display: flex;
    justify-content: space-around; }
  /* line 167, ../sass/pages/_home.scss */
  .sec-ban-logo-content img {
    width: 15%;
    margin: 0; }

  /*on rajoute de la marge sur tous les elements*/
  /* line 173, ../sass/pages/_home.scss */
  .sec-about, .sec-services, .gallery-portfolio, .sec-expertness {
    padding: 0 2rem; }

  /*on diminue le padding qu'on avait mis en smartphone afin d'avoir des images de meme taille. 
  cela augmente la taille de la photo du dessus*/
  /* line 178, ../sass/pages/_home.scss */
  .img-box {
    padding: 1rem; }

  /* line 182, ../sass/pages/_home.scss */
  .pres-2 img {
    margin-top: 3rem; }

  /* line 187, ../sass/pages/_home.scss */
  .pres-1 .hello {
    margin-top: 6rem; }

  /*adaptation des tailles des elements blogger et info qui n'ont plus assez de place*/
  /* line 192, ../sass/pages/_home.scss */
  .info {
    font-size: .5rem; }

  /* line 195, ../sass/pages/_home.scss */
  .counter-article {
    margin-left: .2rem; }

  /* line 199, ../sass/pages/_home.scss */
  .blogger img {
    width: 1rem; }
  /* line 202, ../sass/pages/_home.scss */
  .blogger .name {
    font-size: .5rem; } }
/* line 1, ../sass/pages/_about.scss */
.sec-banner {
  margin-top: 7rem;
  background: linear-gradient(to right, #8490ff, #62bdfc);
  padding: 4rem 0; }
/* line 5, ../sass/pages/_about.scss */
.sec-banner .banner-title {
  color: #fff;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 2rem; }
/* line 11, ../sass/pages/_about.scss */
.sec-banner li {
  display: inline-block;
  color: #fff;
  text-transform: capitalize; }
/* line 16, ../sass/pages/_about.scss */
.sec-banner nav {
  text-align: center; }

/* line 21, ../sass/pages/_about.scss */
.pres-3 {
  margin-top: 5rem; }

/* line 25, ../sass/pages/_about.scss */
.title-3 {
  font-size: 1.2rem;
  line-height: 2rem;
  text-transform: capitalize;
  font-weight: bolder;
  color: #222222;
  /*au cas ou le designer voudrait changer les couleurs*/
  text-align: left;
  margin: 2rem 0 1rem 1rem; }

/* line 35, ../sass/pages/_about.scss */
.techno {
  text-align: right;
  margin-right: 1rem; }

/*PROGRESS BAR*/
/* line 40, ../sass/pages/_about.scss */
.progress-bar {
  margin: 0 1rem;
  width: calc(100% - 2rem);
  background: #cac3c3;
  height: .8rem;
  border-radius: 10px; }

/* line 47, ../sass/pages/_about.scss */
.pct70, .pct90, .pct80, .pct85, .pct95 {
  background: linear-gradient(to right, #8490ff, #62bdfc);
  height: .8rem;
  border-radius: 10px; }

/* line 52, ../sass/pages/_about.scss */
.pct70 {
  width: 70%; }

/* line 55, ../sass/pages/_about.scss */
.pct90 {
  width: 90%; }

/* line 58, ../sass/pages/_about.scss */
.pct80 {
  width: 80%; }

/* line 61, ../sass/pages/_about.scss */
.pct85 {
  width: 85%; }

/* line 64, ../sass/pages/_about.scss */
.pct95 {
  width: 95%; }

/* line 68, ../sass/pages/_about.scss */
.sec-expertness p {
  margin: 1rem; }

/* line 74, ../sass/pages/_about.scss */
.testimonial-2 {
  display: none; }

/* line 77, ../sass/pages/_about.scss */
.testimonial-img, .testimonial-info {
  display: inline-block; }

/* line 80, ../sass/pages/_about.scss */
.testimonial-img {
  position: relative;
  width: 15%;
  margin-left: 3rem; }
/* line 84, ../sass/pages/_about.scss */
.testimonial-img img {
  position: absolute;
  width: 2rem;
  top: 0; }

/* line 91, ../sass/pages/_about.scss */
.testimonial-info {
  width: 75%; }

/* line 1, ../sass/pages/_blog.scss */
.category {
  width: 8rem;
  display: inline-block; }
