@charset "UTF-8";
/* ordre d'importation des fichiers */
/*ici creer les variable avec ex: tableau de couleur*/
/*reference: https://getbootstrap.com/docs/4.0/layout/grid/ , les breakpoints seront certainement ├á adapter dans le futur*/
/* 
RESET
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
	v2.0 | 20110126
	License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");
/* line 9, ../sass/tools/_reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
/* line 29, ../sass/tools/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 33, ../sass/tools/_reset.scss */
body {
  line-height: 1; }

/* line 36, ../sass/tools/_reset.scss */
ol, ul {
  list-style: none; }

/* line 39, ../sass/tools/_reset.scss */
blockquote, q {
  quotes: none; }

/* line 42, ../sass/tools/_reset.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

/* line 47, ../sass/tools/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/*ici touts les balises g├®n├®riques*/
/* line 2, ../sass/base/_base.scss */
html {
  font-family: "Poppins", sans-serif, "Arial", sans-serif; }

/* line 6, ../sass/base/_base.scss */
body {
  font-size: 18px; }

/* line 13, ../sass/base/_base.scss */
main {
  top: 5rem;
  position: absolute; }

/* line 18, ../sass/base/_base.scss */
h1 {
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: bold; }

/* line 39, ../sass/base/_base.scss */
p {
  color: #777777; }

/* line 44, ../sass/base/_base.scss */
strong {
  color: #e21818; }

/*
HEADER
*/
/* line 4, ../sass/layout/_layout.scss */
.logo-header {
  height: 5rem;
  width: 10rem;
  position: absolute;
  left: 1rem;
  top: 1rem; }

/*
MENU
*/
/* line 15, ../sass/layout/_layout.scss */
#menuPrincipale {
  position: fixed; }

/* line 19, ../sass/layout/_layout.scss */
.l-main-menu.open {
  transform: translateX(0%);
  transition: transform 0.5s; }

/* line 25, ../sass/layout/_layout.scss */
.l-main-menu-content {
  width: 70vw;
  height: 100vh;
  background-color: black; }

/* line 30, ../sass/layout/_layout.scss */
.l-main-menu {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  text-align: left;
  font-size: 1.2rem;
  display: flex;
  z-index: 500;
  transform: translateX(-100%);
  transition: transform 0.5s; }
/* line 44, ../sass/layout/_layout.scss */
.l-main-menu ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 2rem 0 0 2rem; }
/* line 51, ../sass/layout/_layout.scss */
.l-main-menu li {
  padding: 6px 0; }
/* line 55, ../sass/layout/_layout.scss */
.l-main-menu a {
  position: relative;
  list-style: none;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bolder;
  display: block;
  padding: .5rem 0;
  color: #fff;
  transition: 0.5s; }
/* line 66, ../sass/layout/_layout.scss */
.l-main-menu a::after {
  position: absolute;
  content: "";
  top: 85%;
  left: 0;
  width: 1.5rem;
  height: 3px;
  background: #fff;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s; }
/* line 79, ../sass/layout/_layout.scss */
.l-main-menu a:hover {
  color: #8490ff; }
/* line 83, ../sass/layout/_layout.scss */
.l-main-menu a:hover::after {
  transform: scaleX(1);
  transform-origin: left; }

/*
HAMBURGER
*/
/* line 103, ../sass/layout/_layout.scss */
.nav-hamburger {
  --color: black;
  width: 36px;
  height: 36px;
  position: fixed;
  right: 1rem;
  top: 1rem;
  z-index: 501;
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  -webkit-appearence: none;
  -webkit-tap-highlight-color: transparent; }
/* line 118, ../sass/layout/_layout.scss */
.nav-hamburger svg {
  width: 64px;
  height: 48px;
  top: -6px;
  left: -14px;
  stroke: var(--color);
  stroke-width: 4px;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  display: block;
  position: absolute; }
/* line 130, ../sass/layout/_layout.scss */
.nav-hamburger svg path {
  transition: stroke-dasharray var(--duration, 0.85s) var(--easing, ease) var(--delay, 0s), stroke-dashoffset var(--duration, 0.85s) var(--easing, ease) var(--delay, 0s);
  stroke-dasharray: var(--array-1, 26px) var(--array-2, 100px);
  stroke-dashoffset: var(--offset, 126px);
  transform: translateZ(0); }
/* line 135, ../sass/layout/_layout.scss */
.nav-hamburger svg path:nth-child(2) {
  --duration: .7s;
  --easing: ease-in;
  --offset: 100px;
  --array-2: 74px; }
/* line 141, ../sass/layout/_layout.scss */
.nav-hamburger svg path:nth-child(3) {
  --offset: 133px;
  --array-2: 107px; }
/* line 149, ../sass/layout/_layout.scss */
.nav-hamburger.active svg path {
  --offset: 57px; }
/* line 151, ../sass/layout/_layout.scss */
.nav-hamburger.active svg path:nth-child(1), .nav-hamburger.active svg path:nth-child(3) {
  --delay: .15s;
  --easing: cubic-bezier(0.2, 0.4, 0.2, 1.1); }
/* line 156, ../sass/layout/_layout.scss */
.nav-hamburger.active svg path:nth-child(2) {
  --duration: .4s;
  --offset: 2px;
  --array-1: 1px; }
/* line 161, ../sass/layout/_layout.scss */
.nav-hamburger.active svg path:nth-child(3) {
  --offset: 58px; }

/*
LAYOUT
*/
/* line 176, ../sass/layout/_layout.scss */
.wrap {
  max-width: 1400px;
  margin: 0 auto; }

/*
FOOTER
*/
