@charset "UTF-8";
/* ordre d'importation des fichiers */
/*ici creer les variable avec ex: tableau de couleur*/
/* 
RESET
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
	v2.0 | 20110126
	License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");
/* line 9, ../sass/tools/_reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
/* line 29, ../sass/tools/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 33, ../sass/tools/_reset.scss */
body {
  line-height: 1; }

/* line 36, ../sass/tools/_reset.scss */
ol, ul {
  list-style: none; }

/* line 39, ../sass/tools/_reset.scss */
blockquote, q {
  quotes: none; }

/* line 42, ../sass/tools/_reset.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

/* line 47, ../sass/tools/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/*reference: https://getbootstrap.com/docs/4.0/layout/grid/ , les breakpoints seront certainement ├á adapter dans le futur*/
/* line 9, ../sass/tools/_grid.scss */
.row {
  display: flex;
  flex-wrap: wrap; }

/* line 14, ../sass/tools/_grid.scss */
.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%; }

/*on g├®n├¿re les colonnes*/
/* line 22, ../sass/tools/_grid.scss */
.col-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%; }

/* line 22, ../sass/tools/_grid.scss */
.col-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%; }

/* line 22, ../sass/tools/_grid.scss */
.col-3 {
  flex: 0 0 25%;
  max-width: 25%; }

/* line 22, ../sass/tools/_grid.scss */
.col-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%; }

/* line 22, ../sass/tools/_grid.scss */
.col-5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%; }

/* line 22, ../sass/tools/_grid.scss */
.col-6 {
  flex: 0 0 50%;
  max-width: 50%; }

/* line 22, ../sass/tools/_grid.scss */
.col-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%; }

/* line 22, ../sass/tools/_grid.scss */
.col-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%; }

/* line 22, ../sass/tools/_grid.scss */
.col-9 {
  flex: 0 0 75%;
  max-width: 75%; }

/* line 22, ../sass/tools/_grid.scss */
.col-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%; }

/* line 22, ../sass/tools/_grid.scss */
.col-11 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%; }

/* line 22, ../sass/tools/_grid.scss */
.col-12 {
  flex: 0 0 100%;
  max-width: 100%; }

/*on boucle sur le tableau breakpoints en ajoutant le type d'├®cran au col et la taille au @media*/
@media screen and (min-width: 720px) {
  /* line 31, ../sass/tools/_grid.scss */
  .col-md {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%; }

  /* line 37, ../sass/tools/_grid.scss */
  .col-md-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }

  /* line 37, ../sass/tools/_grid.scss */
  .col-md-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }

  /* line 37, ../sass/tools/_grid.scss */
  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%; }

  /* line 37, ../sass/tools/_grid.scss */
  .col-md-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }

  /* line 37, ../sass/tools/_grid.scss */
  .col-md-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }

  /* line 37, ../sass/tools/_grid.scss */
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%; }

  /* line 37, ../sass/tools/_grid.scss */
  .col-md-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }

  /* line 37, ../sass/tools/_grid.scss */
  .col-md-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }

  /* line 37, ../sass/tools/_grid.scss */
  .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%; }

  /* line 37, ../sass/tools/_grid.scss */
  .col-md-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }

  /* line 37, ../sass/tools/_grid.scss */
  .col-md-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }

  /* line 37, ../sass/tools/_grid.scss */
  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%; } }
@media screen and (min-width: 960px) {
  /* line 31, ../sass/tools/_grid.scss */
  .col-lg {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%; }

  /* line 37, ../sass/tools/_grid.scss */
  .col-lg-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }

  /* line 37, ../sass/tools/_grid.scss */
  .col-lg-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }

  /* line 37, ../sass/tools/_grid.scss */
  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%; }

  /* line 37, ../sass/tools/_grid.scss */
  .col-lg-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }

  /* line 37, ../sass/tools/_grid.scss */
  .col-lg-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }

  /* line 37, ../sass/tools/_grid.scss */
  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%; }

  /* line 37, ../sass/tools/_grid.scss */
  .col-lg-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }

  /* line 37, ../sass/tools/_grid.scss */
  .col-lg-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }

  /* line 37, ../sass/tools/_grid.scss */
  .col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%; }

  /* line 37, ../sass/tools/_grid.scss */
  .col-lg-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }

  /* line 37, ../sass/tools/_grid.scss */
  .col-lg-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }

  /* line 37, ../sass/tools/_grid.scss */
  .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%; } }
/*ici touts les balises g├®n├®riques*/
/* line 2, ../sass/base/_base.scss */
html {
  font-family: "Poppins", sans-serif, "Arial", sans-serif; }

/* line 6, ../sass/base/_base.scss */
body {
  font-size: 18px; }

/* line 13, ../sass/base/_base.scss */
main {
  margin-top: 5rem; }

/* line 17, ../sass/base/_base.scss */
h1 {
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: bold; }

/* line 38, ../sass/base/_base.scss */
p {
  color: #777777; }

/* line 45, ../sass/base/_base.scss */
strong {
  color: #e21818; }

/*
HEADER
*/
/* line 4, ../sass/layout/_layout.scss */
.logo-header {
  height: 5rem;
  width: 10rem;
  position: absolute;
  left: 1rem;
  top: 1rem; }

/*
MENU
*/
/* line 15, ../sass/layout/_layout.scss */
#menuPrincipale {
  position: fixed;
  top: 0; }

/* line 20, ../sass/layout/_layout.scss */
.l-main-menu.open {
  transform: translateX(0%);
  transition: transform 0.5s; }

/* line 26, ../sass/layout/_layout.scss */
.l-main-menu-content {
  width: 70vw;
  height: 100vh;
  background-color: black; }

/* line 31, ../sass/layout/_layout.scss */
.l-main-menu {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  text-align: left;
  font-size: 1.2rem;
  display: flex;
  z-index: 500;
  transform: translateX(-100%);
  transition: transform 0.5s; }
/* line 45, ../sass/layout/_layout.scss */
.l-main-menu ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 2rem 0 0 2rem; }
/* line 52, ../sass/layout/_layout.scss */
.l-main-menu li {
  padding: 6px 0; }
/* line 56, ../sass/layout/_layout.scss */
.l-main-menu a {
  position: relative;
  list-style: none;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bolder;
  display: block;
  padding: .5rem 0;
  color: #fff;
  transition: 0.5s; }
/* line 67, ../sass/layout/_layout.scss */
.l-main-menu a::after {
  position: absolute;
  content: "";
  top: 85%;
  left: 0;
  width: 1.5rem;
  height: 3px;
  background: #fff;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s; }
/* line 80, ../sass/layout/_layout.scss */
.l-main-menu a:hover {
  color: #8490ff; }
/* line 84, ../sass/layout/_layout.scss */
.l-main-menu a:hover::after {
  transform: scaleX(1);
  transform-origin: left; }

/*
HAMBURGER
*/
/* line 104, ../sass/layout/_layout.scss */
.nav-hamburger {
  --color: black;
  width: 36px;
  height: 36px;
  position: fixed;
  right: 1rem;
  top: 1rem;
  z-index: 501;
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  -webkit-appearence: none;
  -webkit-tap-highlight-color: transparent; }
/* line 119, ../sass/layout/_layout.scss */
.nav-hamburger svg {
  width: 64px;
  height: 48px;
  top: -6px;
  left: -14px;
  stroke: var(--color);
  stroke-width: 4px;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  display: block;
  position: absolute; }
/* line 131, ../sass/layout/_layout.scss */
.nav-hamburger svg path {
  transition: stroke-dasharray var(--duration, 0.85s) var(--easing, ease) var(--delay, 0s), stroke-dashoffset var(--duration, 0.85s) var(--easing, ease) var(--delay, 0s);
  stroke-dasharray: var(--array-1, 26px) var(--array-2, 100px);
  stroke-dashoffset: var(--offset, 126px);
  transform: translateZ(0); }
/* line 136, ../sass/layout/_layout.scss */
.nav-hamburger svg path:nth-child(2) {
  --duration: .7s;
  --easing: ease-in;
  --offset: 100px;
  --array-2: 74px; }
/* line 142, ../sass/layout/_layout.scss */
.nav-hamburger svg path:nth-child(3) {
  --offset: 133px;
  --array-2: 107px; }
/* line 150, ../sass/layout/_layout.scss */
.nav-hamburger.active svg path {
  --offset: 57px; }
/* line 152, ../sass/layout/_layout.scss */
.nav-hamburger.active svg path:nth-child(1), .nav-hamburger.active svg path:nth-child(3) {
  --delay: .15s;
  --easing: cubic-bezier(0.2, 0.4, 0.2, 1.1); }
/* line 157, ../sass/layout/_layout.scss */
.nav-hamburger.active svg path:nth-child(2) {
  --duration: .4s;
  --offset: 2px;
  --array-1: 1px; }
/* line 162, ../sass/layout/_layout.scss */
.nav-hamburger.active svg path:nth-child(3) {
  --offset: 58px; }

/*
LAYOUT
*/
/* line 177, ../sass/layout/_layout.scss */
.wrap {
  max-width: 1140px;
  margin: 0 auto; }

/*
FOOTER
*/
