
.wrap{
    max-width: $maxWidth;
    margin: 0 auto;
}
/*
BACK TO TOP BUTTON
*/
#myBtn {
    display: none;
    position: fixed;
    bottom: 1rem;
    right: 0;
    z-index: 99;   
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    border-radius: 100%;
    i{
        font-size: 2rem;
        color: map-get($colors, title);
        transition: color .3s, opacity .5s, visibility .5s;
    }
}
#myBtn:hover {
    i{
        color: map-get($colors, color1);
    }
    
}
/*
HEADER
*/
.logo-header{
    height: 5rem;
    width: 10rem;
    position: absolute;
    left: 1rem;
    top: 1rem;
}
.logo-header-desktop{
    display: none;
}
/*
MENU
*/
#menuPrincipale{
    position: fixed;
    top: 0;
}

.l-main-menu.open{
    transform: translateX(0%);
    transition: transform 0.5s;
    
} 

.l-main-menu-content{
    width: 70vw;
    height: 100vh;
    background-color: map-get($colors, color4);
}
.l-main-menu{
    height: 100vh;
    background-color: map-get($colors, color4-op);
    width: 100%;
    text-align: left;
    font-size: 1.2rem;
    display: flex;
    z-index: 500;
    transform: translateX(-100%);
    transition: transform 0.5s;
    ul{
        display: flex;
        flex-direction: column;
        list-style-type: none;
        margin: 2rem 0 0 2rem;
        
    }
    li{
        padding: 6px 0;
    }    
    a{
        position: relative;
        list-style: none;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bolder;
        display: block;
        padding: .5rem 0;
        color: map-get($colors, color3);
        transition: 0.5s;

        &::after{
            position: absolute;
            content: "";
            top: 85%;
            left: 0;
            width: 1.5rem;
            height: 3px;
            background: map-get($colors, color3);
            transform: scaleX(0);
            transform-origin: left;
            transition: transform 0.5s;
        }

        &:hover{
            color:  map-get($colors, color1);
        }

        &:hover::after{
            transform: scaleX(1);
            transform-origin: left;
        }


    }
}

@media only screen and (min-width: map-get($breakpoints , md)){
    #myBtn {
        i{
            font-size: 2.7rem;
        }
    }
    #menuPrincipale{
        left: 0;
        border-bottom: 1px solid map-get($colors, title);
    }
    .l-main-menu, .l-main-menu-content{
        height: 4rem;
        background: map-get($colors, color3);
        
    }
    .l-main-menu{
        padding: 0;
        transform: translateX(0%);
        width: 100vw;
        a{
            color: map-get($colors, title);
            &::after{
                background: map-get($colors, title);
            }
        }
        ul{
            flex-direction: row;
            justify-content: flex-end;
            margin: 1rem 0;
            padding-right: 2rem;
        }
        li{
            padding-left: 1rem;
        }
    }
    .l-main-menu-content{
        width: $maxWidth;
        position: relative;
        margin: 0 auto; 
    }
    .logo-header{
        display: none;
    }
    .logo-header-desktop{
        padding-left: 1rem;
        height: 5rem;
        width: 10rem;
        position: absolute;
        top: 1rem;
        z-index: 999;
        display: inline-block;
    }
    .nav-hamburger{
        display: none;
    }


}
@media only screen and (min-width: map-get($breakpoints , lg)){
    .l-main-menu{
        li{
            padding-left: 2rem;
        }
    }
}

/*
HAMBURGER
*/

.nav-hamburger {
    --color: #{rgb(0, 0, 0)};
    width: 36px;
    height: 36px;
    position: fixed;
    right: 1rem;
    top:1rem;
    z-index: 501;
    outline: none;
    
    border: none;
    background: none;
    cursor: pointer;
    -webkit-appearence: none;
    -webkit-tap-highlight-color: transparent;
    svg {
        width: 64px;
        height: 48px;
        top: -6px;
        left: -14px;
        stroke: var(--color);
        stroke-width: 4px;
        stroke-linecap: round;
        stroke-linejoin: round;
        fill: none;
        display: block;
        position: absolute;
        path {
            transition: stroke-dasharray var(--duration, .85s) var(--easing, ease) var(--delay, 0s), stroke-dashoffset var(--duration, .85s) var(--easing, ease) var(--delay, 0s);
            stroke-dasharray: var(--array-1, 26px) var(--array-2, 100px);
            stroke-dashoffset: var(--offset, 126px);
            transform: translateZ(0);
            &:nth-child(2) {
                --duration: .7s;
                --easing: ease-in;
                --offset: 100px;
                --array-2: 74px;
            }
            &:nth-child(3) {
                --offset: 133px;
                --array-2: 107px;
            }
        }
    }
    &.active {
        svg {
            path {
                --offset: 57px;
                &:nth-child(1),
                &:nth-child(3) {
                    --delay: .15s;
                    --easing: cubic-bezier(.2, .4, .2, 1.1);
                }
                &:nth-child(2) {
                    --duration: .4s;
                    --offset: 2px;
                    --array-1: 1px;
                }
                &:nth-child(3) {
                    --offset: 58px;
                }
            }
        }
    }
}

/*
FOOTER
*/
footer{
    padding-bottom: 1rem;
    background-color: map-get($colors, color4);
    strong{
    color: map-get($colors, color1);
    }
    p{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    a{
        color: map-get($colors, color1);
    }
}

.footer-title{
    color: map-get($colors, color3);
    font-size: 1rem;
    margin: 2rem 0 0 1rem;
    text-transform: capitalize;
}

.p-copyright{
    
    margin-top: 1rem;
}

.mail-picker{
    width: calc(100% - 2rem);
    display: flex;
    height: 2rem;
    padding: 0 1rem;
    input{
        width: 80%;
        border: 1px solid map-get($colors, color3);
    }
    
    button{
        background: map-get($colors, color1);
        color: map-get($colors, color3);
        width: 20%;
        cursor: pointer;
        border: none;
        span{
            font-size: 1.5rem;
        }
    }
}
.social-footer{
    font-size: 1rem;
    margin: 1rem;
    
}
.fab:hover{
    transform: perspective(50px) translateZ(10px);
    color: map-get($colors, color1);
    transition: transform 0.3s;
}
@media only screen and (min-width: map-get($breakpoints , md)){
    footer{
        padding: 2rem 0 3rem;
    }
    .social-footer{
        margin: 1rem 0 0 1rem;
        font-size: .9rem;
    }
}
