/*ici touts les balises génériques*/
html{
    font-family: $fontPrimary;
}

body{
    font-size: 14px;
}

h1{
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: bold;
    color: map-get($colors, title);  /*au cas ou le designer voudrait changer les couleurs*/
}

textarea, input, button{
    font-family: inherit;
    font-size: inherit;
}

h4{
    text-align: center;
    margin: 3rem 0 2rem;
    font-size: 1rem;
}
p{
    color: map-get($colors, txt);
    margin: 3rem 1rem;
    font-size: .8rem;
    line-height: 1.5rem;
    letter-spacing: .1rem;
}
a{
    text-decoration: none;
}
img{
    width: 100%;
    height: auto;
}
i{
    cursor: pointer;
    padding-right: .5rem;
    color: map-get($colors, color3);
}

@media only screen and (min-width: map-get($breakpoints , lg)){
    p{
        font-size: .9rem;
}
}