/*ici touts les balises génériques*/
html{
    font-family: 'Poppins', sans-serif;
}

body{
    font-size: 18px;
}
header{
   
    
}

h1{

}
h1::before {  

}

h3 {

    
}
h3::before {  

}


h4{

}
p{

    
}

strong{
    color: rgb(226, 24, 24);
}

@media only screen and (min-width: 700px){
    h1{
        
    }
}
