/*ici creer les variable avec ex: tableau de couleur
$colors: (
    Btn1     : #8490ff,
    Btn2     : #62bdfc,
    color3   : #fff,
    txt      : #777777,
    title    : #222222,
    link     : #8490ff,
    bannerBg1: #8490ff,
    bannerBg2: #62bdfc
);*/
$colors: (
    color1      : #8490ff,
    color2      : #62bdfc,
    color3      : #fff,
    color4      : #05071c,
    color4-op   : hsla(235, 70%, 6%, 0.37),
    txt         : #777777,
    title       : #222222,
    bg          : #faf9ff
    
);

$fontPrimary:   'Poppins', sans-serif;   
$fontSecondary: 'Arial', sans-serif;

/*taille maximale pour le contenu en desktop*/
$maxWidth : 1140px;

