/*ici creer les variable avec ex: tableau de couleur*/
$colors: (
    Btn1     : #8490ff,
    Btn2     : #62bdfc,
    color3   : #fff,
    txt      : #777777,
    title    : #222222,
    link     : #8490ff,
    bannerBg1: #8490ff,
    bannerBg2: #62bdfc
);

/*reference: https://getbootstrap.com/docs/4.0/layout/grid/ , les breakpoints seront certainement à adapter dans le futur*/
$breakpoints: (
    breakSmal:   540px,
    breakMedium: 720px,
    breakLarge:  960px

);

$fontPrimary:   'Poppins', sans-serif;   
$fontSecondary: 'Arial', sans-serif;

$maxWidth : 1140px;

