/*BANIERE*/
.sec-ban-blog{
    padding: 5rem 1rem;
    min-height: 30rem;
    background: linear-gradient(0deg, hsla(237, 68%, 6%, 0.589), hsla(237, 68%, 6%, 0.74)), url("../img/blog-home-banner.jpg");
    background-size: 500%;
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 50%;
    margin-top: 4rem;
}
.btn-blog{
    background: map-get($colors, color3);
    color: map-get($colors, title);
    text-transform: uppercase;
    padding: 1rem;
    font-size: 1rem;
    text-decoration: none;
    margin: 6rem auto;
    text-align: center;
    width: 6rem;
    display: block;
    font-weight: bold;
    &:hover{
        background: map-get($colors, color1);
        color: map-get($colors, color3);
        box-shadow: 2px 2px 10px 0px map-get($colors, color3);
    }
}
.ban-blog-title{
    font-size: 2rem;
    line-height: 2rem;
    text-transform: capitalize;
    font-weight: bold;
    color: map-get($colors, color3);  
    text-align: center;
    margin-top: 5rem;
}
.ban-blog-txt{
    color: map-get($colors, color3);
    text-align: center;
}
.blog-layout{
    background: map-get($colors, bg);
}
/*THUMBS*/
.sec-thumbs{
    padding-top: 3rem;
}
.thumbs-box{
    padding: 2rem 1rem;
    max-width: 30rem;
    margin: auto;
}
.thumbs-opct{
    background: rgba(0, 0, 0, 0.788);
    height: 14rem;
    p{
        color: map-get($colors, color3);
        margin: 2rem 0;
    }
}
.thumbs-title{
    color: map-get($colors, color3);
    text-transform: uppercase;
    padding: 4.5rem 0 1rem;
    margin: 0 2rem;
    border-bottom: 3px solid map-get($colors, color3);
    text-align: center;
    font-size: 1.2rem;
}
.thumbs-bg-1, .thumbs-bg-2, .thumbs-bg-3{
    min-height: 14rem;
    padding: 1rem;
}
.thumbs-bg-1{
    background: url("../img/thumbs-party.jpg");
    background-size: cover;/*je me répète mais ne fonctionne pas si je le mets dans le selecteur des 3 thumbs*/
}
.thumbs-bg-2{
    background: url("../img/thumbs-co-worker.jpg");
    background-size: cover;/*je me répète mais ne fonctionne pas si je le mets dans le selecteur des 3 thumbs*/
}
.thumbs-bg-3{
    background: url("../img/thumbs-meat.jpg");
    background-size: cover;/*je me répète mais ne fonctionne pas si je le mets dans le selecteur des 3 thumbs*/
}

/*BLOG*/
.sec-blog-page{
    margin: 1rem;
    .info-blog{
        margin: 1rem 0;

        text-align: left;
        width: 100%;
        color: map-get($colors, txt);
        .lnr{
            margin-left: 1rem;
            font-size: 1rem;
            color: map-get($colors, title);
        }
    }

    img{
        margin: 1rem 0;
    }
    .title-article{
        text-transform: capitalize;
        margin-left: 0;
    }
    p{
        margin-left: 0;
    }
}
p.tags-article{
    text-transform: capitalize;
    margin: 2rem 0;
    color: map-get($colors, title);
    font-size: 1.2rem;
}

.bnt-article{
    color: map-get($colors, title);
    margin: 2rem 0 0 3rem;
    padding: 1rem 1.5rem;
    display: inline-block;
    text-transform: capitalize;
    background: map-get($colors, color3);
    font-weight: bold;
    &:hover{
        background: map-get($colors, color1);
        color: map-get($colors, color3);
        box-shadow: 2px 2px 10px 0px map-get($colors, txt);
    }
}
@media only screen and (min-width: map-get($breakpoints , md)){
    p.tags-article{
        text-align: right;
        margin-right: 1rem;
    }
    .sec-blog-page{
        .info-blog{
            font-size: .7rem;
            text-align: right;
            .lnr{
                margin: 0 .5rem;
            }
        }
    }
}
@media only screen and (min-width: map-get($breakpoints , lg)){
    .sec-blog-page{
        .info-blog{
            font-size: .9rem;
            .lnr{
                margin: 0 1rem;
                font-size: 1rem;
            }
        }
    }
}
/*PAGINATION*/

.pagination{
    margin: 10rem 0;
    text-align: center;
    font-size: 1.4rem;
    .lnr{
        font-size: 1.4rem;
    }
    li{
        
        display: inline-block;
        padding: .5rem;
        cursor: pointer;
        &:hover, &.is-active{
            background-color: map-get($colors, color1);
            color: map-get($colors, color3);
            -webkit-box-shadow: 2px 2px 10px 0px rgba(153,153,153,1);
            -moz-box-shadow: 2px 2px 10px 0px rgba(153,153,153,1);
            box-shadow: 2px 2px 10px 0px rgba(153,153,153,1);
        }
    }
}

/*ASIDE*/
aside{
    border: 1px solid map-get($colors, color5);
    margin: 3rem 1rem 1rem 1rem;
    .blogger{
        margin-left: 0;
        width: 100%;
        display: block;
        margin-top: 2rem;
        p{
            margin: 0;
        }
    }
}
.search-form{
    margin: 3rem 0 1rem 2rem;
    
    display: flex;
    justify-content: center;
}
.search-input{
    height: 3rem;
    width: calc(100% - 2rem);
    background-color: map-get($colors, color1);
    color: map-get($colors, color3);
    border-radius: 25px;
    border: none;
    position: relative;
    padding-left: 2rem;
}
.search-btn{
    cursor: pointer;
    position: relative;
    background: transparent;
    border: none;
    right: 3rem;
    color: map-get($colors, color3);
    transform: perspective(100px) translateZ(0px);
    transition: transform 100ms linear;
    &:hover{
        transform: perspective(100px) translateZ(10px);
    }
    span{
        font-size: 1.5rem;
    }
}

#blogger-aside{
    width: 40%;
    margin: 0 30% 3rem;
}
.blogger-name{
    text-transform: capitalize;
    text-align: center;
    font-size: 1.2rem;
    color: map-get($colors, title);
    font-weight: bold;
}
.sec-blogger{
    padding: 0 2rem;
}
.blogger-social{
    text-align: center;
    margin: 2rem 0;
    .fab{
        color: map-get($colors, title);
        font-size: 1.1rem;
        &:hover{
            color: map-get($colors, color1);
        }
    }
    
}
.title-aside{
    text-transform: capitalize;
    text-align: center;
    font-size: 1.2rem;
    width: 100%;
    padding: 1rem 0;
    background: map-get($colors, color1);
    color: map-get($colors, color3);
    margin: 2rem 0 3rem;
}

/*POPULAR*/
.post{
    
    margin: 1rem 0;
    display: flex;
    min-height: 5rem;
    img{
        
        max-height: 4rem;/*on donne une hauteur et largeur maximum pour eviter de trop deformer l'image*/
        max-width: 8rem;
        margin: auto 0;
    }
    .title-3{
        font-size: .8rem;
        margin: 0 0 0 1rem;
    }
}

.info-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.post-info{
    text-align: center;
    p{
        margin: 0 0 0 1rem;
        text-align: left;
    }
}
.add{
    width: 100%;
    padding: 3rem 0;
    background: map-get($colors, color3);
    text-align: center;
}
.category{
    width: calc(100% - 1.5rem);
    display: inline-block;
    a{
        color: map-get($colors, txt);
        &:hover{
            color: map-get($colors, color1);
        }
    }
}
.post-categories{
    p{
        margin: 1rem 0;
        &::after{
            margin-top: 1rem;
            display: block;
            width: 100%;
            height: .1rem;
            background: map-get($colors, color5);
            content: "";
            position: relative;
            margin-top: .5rem;
        }
    }
}
.news-picker{
    padding: 0;
    width: 100%;
    
    i{
        background: map-get($colors, color3);
        width: 15%;
        border: 1px solid map-get($colors, txt);
        border-right: none;
        color: map-get($colors, txt);
        padding: 0 0 0 .2rem;
        font-size: 1.5rem;
        padding: .4rem 0 0 .2rem;
    }
    input{
        width: 60%;
        border-top: 1px solid map-get($colors, txt);
        border-bottom: 1px solid map-get($colors, txt);
        font-size: .8rem;
    }
    button{
        width: 25%;
        font-size: .7rem;
    }
}
.tags-clouds{
    padding-bottom: 3rem;
    a{
        background: map-get($colors, color3);
        border: 1px solid map-get($colors, color5);
        color: map-get($colors, title);
        display: inline-block;
        padding: .5rem;
        line-height: 2rem;
        font-weight: bold;
        cursor: pointer;
        margin-top: .8rem;
        &:hover{
            color: map-get($colors, color3);
            background: map-get($colors, color1);
        }
    }
}
.sec-blogger > div{
    border-bottom: 2px solid map-get($colors, color5);
    padding-bottom: 2rem;
}
#last{
    border-bottom: none;
}

@media only screen and (min-width: map-get($breakpoints , md)){
    .sec-ban-blog{
        margin-top: 4rem;
        background-size: cover;
        
    }
    .news-picker{
        button, input{
            font-size: 0.6rem;
            padding: 0;
        }
    }
}
@media only screen and (min-width: map-get($breakpoints , lg)){
    .news-picker{
        input, button{
            font-size: .8rem;
        }
    }
}