/*BANIERE*/
.sec-ban-blog{
    padding: 5rem 1rem;
    min-height: 30rem;
    background: linear-gradient(0deg, hsla(237, 68%, 6%, 0.589), hsla(237, 68%, 6%, 0.74)), url("../img/blog-home-banner.jpg");
    background-size: 500%;
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 50%;
    margin-top: 4rem;
}
.btn-blog{
    background: map-get($colors, color3);
    color: map-get($colors, title);
    text-transform: uppercase;
    padding: .8rem 2rem;
    font-size: 1rem;
    text-decoration: none;
    margin: 6rem auto;
    text-align: center;
    width: 6rem;
    display: block;
    &:hover{
        background: map-get($colors, color1);
        color: map-get($colors, color3);
        box-shadow: 2px 2px 10px 0px map-get($colors, color3);
    }
}
.ban-blog-title{
    font-size: 2rem;
    line-height: 2rem;
    text-transform: capitalize;
    font-weight: bold;
    color: map-get($colors, color3);  
    text-align: center;
    margin-top: 5rem;
}
.ban-blog-txt{
    color: map-get($colors, color3);
    text-align: center;
}
/*THUMBS*/
.sec-thumbs{
    margin-top: 3rem;
}
.thumbs-box{
    padding: 2rem 1rem;
}
.thumbs-opct{
    background: rgba(0, 0, 0, 0.788);
    height: 10rem;
    p{
        color: map-get($colors, color3);
        margin: 2rem 0;
    }
}
.thumbs-title{
    color: map-get($colors, color3);
    text-transform: uppercase;
    padding: 2.5rem 0 1rem;
    margin: 0 2rem;
    border-bottom: 3px solid map-get($colors, color3);
    text-align: center;
    font-size: 1.2rem;
}
.thumbs-bg-1, .thumbs-bg-2, .thumbs-bg-3{
    min-height: 10rem;
    padding: 1rem;
}
.thumbs-bg-1{
    background: url("../img/thumbs-party.jpg");
    background-size: cover;/*je me répète mais ne fonctionne pas si je le mets dans le selecteur des 3 thumbs*/
}
.thumbs-bg-2{
    background: url("../img/thumbs-co-worker.jpg");
    background-size: cover;/*je me répète mais ne fonctionne pas si je le mets dans le selecteur des 3 thumbs*/
}
.thumbs-bg-3{
    background: url("../img/thumbs-meat.jpg");
    background-size: cover;/*je me répète mais ne fonctionne pas si je le mets dans le selecteur des 3 thumbs*/
}

/*BLOG*/
.sec-blog-page{
    margin: 1rem;
    .info{
        margin: 1rem 0;
        font-size: .8rem;
        justify-content: start;
        width: 100%
    }
    .lnr{
        margin-left: .5rem;
    }
    img{
        margin: 2rem 0;
    }
    .title-article{
        text-transform: capitalize;
        margin-left: 0;
    }
    p{
        margin-left: 0;
    }
}
.tags{
    text-transform: capitalize;
    margin: 2rem 0;
}
.bnt-article{
    color: map-get($colors, title);
    margin-left: 3rem;
    text-transform: capitalize;
}

/*PAGINATION*/

.pagination{
    margin-top: 3rem;
    text-align: center;
    font-size: 1.5rem;
    .lnr{
        font-size: 1rem;
    }
    li{
        font-size: 1rem;
        display: inline-block;
        padding: .5rem;
        cursor: pointer;
        &:hover{
            background-color: map-get($colors, color1);
            color: white;
        }
    }
}

/*ASIDE*/
aside{
    .blogger{
        width: calc(100% - 2rem);
        display: block;
    }
}
.search-form{
    margin: 3rem 0 3rem 2rem;
    width: calc(100% - 2rem);
    display: flex;
    justify-content: center;
}
.search-input{
    height: 3rem;
    width: calc(100% - 4rem);
    background-color: map-get($colors, color1);
    color: map-get($colors, color3);
    border-radius: 25px;
    border: none;
    position: relative;
    padding-left: 2rem;
}
.search-btn{
    position: relative;
    background: transparent;
    border: none;
    right: 3rem;
    color: map-get($colors, color3);
    span{

        font-size: 1.5rem;
    }
}
#blogger-aside{
    width: 40%;
    margin: 0 30% 3rem;
}
.blogger-name{
    text-transform: capitalize;
    text-align: center;
    font-size: 1.2rem;
    color: map-get($colors, title);
    font-weight: bold;
}
.sec-blogger{
    padding: 0 2rem;
}
.blogger-social{
    text-align: center;
    margin: 2rem 0;
    .fab{
        color: map-get($colors, title);
        font-size: 1.2rem;
        &:hover{
            color: map-get($colors, color1);
        }
    }
    
}
.title-aside{
    text-transform: capitalize;
    text-align: center;
    font-size: 1.2rem;
    width: 100%;
    padding: 1rem 0;
    background: map-get($colors, color1);
    color: map-get($colors, color3);
    margin: 2rem 0;
}
.post{
    display: flex;
    img{
        width: 40%;
        max-height: 5rem;
    }
    .title-3{
        font-size: .8rem;
        margin-top: 0;
    }
}
.post > div{
    display: inline-block;
    width: 60%;
}
.info-box{
    display: flex;
    flex-direction: column;
}
.post-info{
    text-align: center;
    p{
        margin: .5rem 1rem 2rem ;
        text-align: left;
    }
}
.category{
    width: calc(100% - 2rem);
    display: inline-block
}
.tags{
    a{
        display: inline-block;
        padding: 0 .5rem .5rem .5rem;
        line-height: 2rem;
        cursor: pointer;
        &:hover{
            color: map-get($colors, color3);
            background: map-get($colors, color1);
        }
        &::after{
            display: inline-block;
            width: .1rem;
            height: 2rem;
            background: map-get($colors, txt);
            content: "";
            position: relative;
            top: .7rem;
            
            left: .6rem;
        }
    }
}
@media only screen and (min-width: map-get($breakpoints , md)){
    .sec-ban-blog{
        margin-top: 4rem;
    }
}