/*ici creer les variable avec ex: tableau de couleur*/
$colors: (
    Btn1     : #8490ff,
    Btn2     : #62bdfc,
    Couleur3 : #fff,
    txt      : #777777,
    title    : #222222,
    link     : #8490ff,
    bannerBg1: #8490ff,
    bannerBg2: #62bdfc
);

$fonts: (
    main:       'Arial',

);

/*Largeur maximum: 1140px • Police: Poppins, sans-serif*/


