.section-works{
    position: relative;
    background-color: black;
    h3{
        color: map-get($colors , color1);
    }
}



.bnt-more{
    position: absolute;
    top: -1.5rem;
    background-color: map-get($colors, color3);
    color: map-get($colors, color1);
    text-decoration: none;
    padding: 1rem;
    z-index: 100;
    left: calc(50% - 69px);
    transform: perspective(50px) translateZ(0px);
            transition: transform 100ms linear;
                &:hover {
                transform: perspective(50px) translateZ(2px);
                }
}


.gallery{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 3rem;
    flex-wrap: wrap;
    width: 100%;
        img{
            width: 50%;
            height: auto;
            
        }
}

@media only screen and (min-width: 700px){
    .bnt-more{
        left: 75%;
    }
    .gallery{    
        img{
            width: calc(100% / 3);
        }
    }
    .wrap-gallery{
        padding: 0 2rem;
    }

}

@media only screen and (min-width: 1100px){

    .gallery{    
        img{
            width: calc(100% / 4);
        }
    }

}